@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* width: 375px;
  height: 900px; */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: relative;
  max-width: 375px;
  overflow: auto;

  img {
    user-select: none;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#map-page {
}

.box {
  /* Event Card */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px;
  gap: 16px;

  width: 100%;

  /* White */
  background: #ffffff;
  /* Light Grey */
  border: 1px solid #e9e9f2;
  border-radius: 4px;

  /* Inside auto layout */
  flex: none;
  order: 5;
  align-self: stretch;
  flex-grow: 0;
  z-index: 5;

  margin-top: 12px;
}
